{% extends 'base.html.twig' %}

{% block menu %}

{% endblock %}

{% block contenu %}
    <div class="container-fluid">
        <div class="row">
            {% for EntrepriseCourante in entreprises %}

                <div class="col-md-4">
                    <h2>
                    <td><a href = "{{ path('entreprisesParStage',{nomEntreprise:EntrepriseCourante.nom})}}"style="color:black; text-decoration:none;">
                        {{ EntrepriseCourante.nom }} </a></td>
                    </h2>
                    <p>
                     {{ EntrepriseCourante.adresse }}
                    </p>

                    <p>
                     {{ EntrepriseCourante.activite }}
                    </p>
                </div>
            {% endfor %}
           

{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
{% endblock %}