{% extends 'base.html.twig' %}

{% block menu %}
<h1>Cette page affichera la liste des formation </h1>
{% endblock %}

{% block contenu %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h2>
                    DUT Informatique
                </h2>
                <p>
                    STAGE Developpeur web, CREATION D'UN SITE!!
                </p>
                <p>
                    <a class="btn" href="#">Voir les détailes  »</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>
                    Licence professionnel Multimédia
                </h2>
                <p>
                    STAGE Graphiste pour l'entreprise SAFRAN, REJOIGNEZ NOUS! 
               </p>
                <p>
                    <a class="btn" href="#">Voir les détailes  »</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>
                    Diplome Universitaire en Technologies de l'Information et de la Communication
                </h2>
                <p>
                    STAGE VENTE ET COMMUNICATION pour l'entreprise SAFRAN, REJOIGNEZ NOUS!
                </p>
                <p>
                    <a class="btn" href="#">Voir les détailes  »</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
{% endblock %}