{% extends 'base.html.twig' %}


{% block contenu %}
<!-- Bootstrap CSS 
<h1>Bienvenue sur Prostages</h1>

<p>
    Vous trouverez si dessous les dernières ressources pédagogiques ajoutées sur proStage
</p>
<ul>
    <li>
        <a href="{{path('stages',{id:5})}}"> exo1-TP3-M1102 </a>
    </li>
</ul>
<ul>
    <li>
        <a href="{{path('stages',{id:55})}}"> Correction_exo1-TP3-M1102 </a>
    </li>
</ul>
<ul>
    <li>
        <a href="{{path('stages',{id:125})}}"> Exo4-TP3-M1102 </a>
    </li>
</ul>
-->
{% endblock %}
