<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('/css/fontello.css')}}">

        <title>{% block title %}ProStage{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block slider %}
        <blockquote class="blockquote text-center">
            <p class="mb-0"><h1><center><i class="icon-lastfm-1"></i>Prostages</center></h1></p>
        </blockquote>
        {% endblock %}
        {% block menu %}
        <br>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                        <table class="table table-dark">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Entreprise</th>
                                    <th scope="col">Stage</th>
                                    <th scope="col">Contact</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Safran</td>
                                    <td>Stage de Développement Web</td>
                                    <td>Safran@gmail.com</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Eodix</td>
                                    <td>Stage de Développement Web</td>
                                    <td>Safran@gmail.com</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>ALTANOVEO</td>
                                    <td>Stage de Développement Web</td>
                                    <td>Safran@gmail.com</td>
                                  </tr>
                                </tbody>
                              </table>
                </div>
                <div class="col-md-3">     
                  <ul class="list-group">
                      <li class="list-group-item"><h1><center> Filtrer par </center></h1>  </li> 
                    <li class="list-group-item"><a href="{{path('entreprises')}}">Entreprise</a> </li> 
                    <li class="list-group-item"><a href="formation">Formation</a> </li> 
                  </ul>
                </div>
        </div>
        
        {% endblock %}
        {% block contenu %}
        {% endblock %}
        {% block footer %}
        <p>Site réalisé par Mathieu Echarte avec les frameworks <a href="https://symfony.com">Symfony</a> et <a href="https://getbootstrap.com">Bootstrap</a></p>
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
